@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: rgb(248, 218, 133);
  color: rgb(0, 0, 0);
}

footer {
  background-color: rgb(0, 0, 0);
}

.wallet-adapter-button-trigger {
  color: black !important;
  background: rgb(161, 250, 83) !important;
  border-radius: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
