@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
    background-color: rgb(254, 240, 138);
    color: rgb(0, 0, 0);
}

.modal-box {
    background: rgb(227, 146, 75) !important;
    font-weight: 600 !important;
    color: azure !important;
}

.footer {
    background-color: rgb(248, 218, 133);
}